{% extends 'base_template.html' %}
{% block content %}
{% load static %}
<br/><br/>
<style>
   .errorlist
   {
        display: none;
   }
   </style>

<!--<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">-->
<!--<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>-->

<script type="text/javascript" src="{% static 'jquery-ui.min.js' %}"></script>
<link rel="stylesheet" href="{% static 'jquery-ui.css' %}"/>

<script>
$(function() {
$( "#id_fromdate" ).datepicker({
dateFormat: "yy-mm-dd",
defaultDate: "-1w",
changeMonth: true,
numberOfMonths: 1,

});
});
$(function() {
$( "#id_todate" ).datepicker({
dateFormat: "yy-mm-dd",
defaultDate: "+0d",
changeMonth: true,
numberOfMonths: 1,

});
});
</script>
<div style="margin-top:15%;">
    <h3><center>Generate Reports</center></h3>
    <center>
        <form method="post">
            {% csrf_token %}
            {{ form }}
            <button type="submit">Generate Report</button>
        </form>
    </center>
</div>

{% endblock %}