{% extends 'base_template.html' %}
{% load widget_tweaks %}
{% block content %}
<br/><br/>
<h3><center>Branch Details</center></h3>
<table style="width:50%; font-size:20px;" >
  <tr>
    <th>Branch Name:</th>
    <td>{{ branch_details.branch_name }}</td>
  </tr>
  <tr>
    <th>Status:</th>
      <td>{{ branch_details.availablity_status }}</td>
  </tr>
    <tr>
    <th>State:</th>
    <td>{{ branch_details.State }}</td>
  </tr>
    <tr>
    <th>City:</th>
    <td>{{ branch_details.City }}</td>
  </tr>
    <tr>
    <th>Location:</th>
    <td>{{ branch_details.location }}</td>
  </tr>
    <tr>
    <th>Address:</th>
    <td>{{ branch_details.Address }}</td>
  </tr>
    <tr>
    <th>Phone:</th>
    <td>{{ branch_details.Phone }}</td>
  </tr>
    <tr>
    <th>Email:</th>
    <td>{{ branch_details.Email }}</td>
  </tr>
</table>
{% endblock %}