{% extends 'base_template.html' %}
{% block content %}
<br/>
<center><h2>Dashboard</h2></center>
<div class="row" style="margin-left:0%;">
    <a href="{% url 'lab:TodaysAppointments' %}">
        <div class="col-sm-3">
            <div class="thumbnail">
                <center><div class="caption">Total Todays Appointments</div> </center>
                <table style="width:100%">
                    <tr>
                        <center>
                            <h1>
                                {{ todays_count }}
                            </h1>
                        </center>
                    </tr>
                </table>
            </div>
        </div>
    </a>
    <a href="{% url 'lab:TestList' %}">
        <div class="col-sm-3">
            <div class="thumbnail">
                <center><div class="caption">Total Tests Available</div> </center>
                <table style="width:100%">
                    <tr>
                        <center>
                            <h1>
                                 {{ test_count }}
                            </h1>
                        </center>
                    </tr>
                </table>

            </div>
        </div>
    </a>
    <a href="#">
        <div class="col-sm-3">
            <div class="thumbnail">
                <center><div class="caption">Todays Revenue</div> </center>
                <table style="width:100%">
                    <tr>
                        <center>
                            {% if request.user.is_superuser %}
                            <h1>
                                ₹{{ admin_revenue }}
                            </h1>
                            {% else %}
                            <h1>
                                ₹{{ other_user }}
                            </h1>
                            {% endif %}
                        </center>
                    </tr>
                </table>

            </div>
        </div>
    </a>
</div>
</br>
<a href="#">
        <div class="col-sm-3">
            <div class="thumbnail">
                <center><div class="caption">Total Test Done</div> </center>
                <table style="width:100%">
                    <tr>
                        <center>
                            {% if request.user.is_superuser %}
                            <h1>
                                {{ total_test_done }}
                            </h1>
                            {% else %}
                            <h1>
                                {{ total_test_done }}
                            </h1>
                            {% endif %}
                        </center>
                    </tr>
                </table>

            </div>
        </div>
    </a>
{% endblock %}