{% extends 'base_template.html' %}
{% load widget_tweaks %}
{% block content %}
<br/><br/>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li>{% if message.tags %} class="{{ message.tags }}"{% endif %} {{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
<div class="row"style="margin-left:-5%;">
    <div class="container">
        <ul class="nav nav-pills">
            <li class="active"><a data-toggle="pill" href="#home">User List</a></li>
            <li><a href="{% url 'Account:signup' %}">Create User</a></li>
        </ul>
        <div class="tab-content">
            <div id="home" class="tab-pane fade in active">
                <table class="table table-hover" style="width:80%">
                    <thead>
                    <tr>
                        <th><center>#</center></th>
                        <th><center>Username</center></th>
                    </tr>
                    </a>
                    </thead>
                    {% for i in users %}
                    <tbody>
                    <tr>
                        <td><center>{{ forloop.counter }}</center></td>
                        <td><center>{{ i }}</center></td>
                    </tr>
                    </tbody>
                    {% endfor %}
                </table>
            </div>
        </div>

    </div>
</div>
{% endblock %}